* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body {
    background: #E1D4C9;
    width: 1360px;
    margin: auto;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #E1D4C9;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    width: 1360px;
    margin: auto;
}


header .logo {
    width: 100px;
    height: 60px;
}

header .center {
    display: flex;
    gap: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #403F3D;
}

header .center p:hover {
    border-bottom: 2px solid #403F3D;
    padding: 4px;
}

header .right {
    display: flex;
    align-items: center;
}

header .right p {
    font-weight: 600;
    font-size: 16px;
    color: #403F3D;
}

header .cup {
    margin-left: 8px;
}

header .right:hover {
    border-bottom: 2px solid #403F3D;
    padding: 4px;
}


.title {
    background-image: url(./img/fon.jpg);
    border-radius: 40px;
    padding: 100px;
    background-repeat: no-repeat;
    margin-top: 100px;
}

.title .main {
    width: 530px;
}

.title .main .text span {
    font-weight: 600;
    font-style: italic;
    font-size: 72px;
    line-height: 105%;
    color: #B0907A;
}

.title .main .text {
    font-weight: 600;
    font-size: 72px;
    line-height: 105%;
    color: #E1D4C9;
}

.title .main p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #E1D4C9;
    margin-top: 40px;
}

.title .main button {
    width: 200px;
    height: 64px;
    border-radius: 100px;
    background: #E1D4C9;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #403F3D;
    margin-top: 40px;
}

.title .main button .menuhover {
    display: flex;
    padding-left: 64px;
    gap: 8px;
}

.title .main button img {
    display: none;
}

.title .main button:hover img {
    display: block;
    align-items: baseline;
}

.first .text {
    font-weight: 600;
    font-size: 60px;
    line-height: 125%;
    text-align: center;
    color: #403F3D;
    margin-top: 100px;
    color: #403F3D;
}

.first .text span {
    color: #B0907A;
}

.first .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first .bot {
    width: 480px;
}

.first .bot h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: #403F3D;
    margin-top: 20px;
}

.first .bot .last {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #403F3D;
    margin-top: 16px;
}

.first .bot .end {
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: #403F3D;
    margin-top: 16px;
}

.first .line .one {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: #665F55;
}

.first .line .two {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: #C1B6AD;
}

.first .line .three {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: #C1B6AD;
}

.first .line {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 40px;
}


.second h2 {
    width: 1360px;
    font-weight: 600;
    font-size: 60px;
    line-height: 125%;
    color: #403F3D;
    margin-top: 100px;
    justify-content: center;
}

.second h2 span {
    font-weight: 600;
    font-style: italic;
    font-size: 60px;
    line-height: 125%;
    color: #B0907A;
}

.second .pic {
    display: flex;
    margin-top: 40px;
}

.second .pic .left .img2 {
    margin-top: 40px;
}

.second .pic .right .img4 {
    margin-top: 40px;
}

.second .pic img {
    border-radius: 40px;
}

.last .closed {
    display: flex;
    justify-content: space-between;
}

.last .closed h2 span {
    font-weight: 600;
    font-style: italic;
    font-size: 60px;
    line-height: 125%;
    color: #B0907A;
}

.last .closed h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 125%;
    color: #403F3D;
}

.last .closed .text .paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #403F3D;
    margin-top: 40px;
}

.last .closed .text {
    width: 630px;
    margin-top: 244px;
}

.closed .mobile {
    margin-top: 100px;
}

.closed .text .apple {
    width: 200px;
    height: 64px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    gap: 8px;
    border-radius: 100px;
    border-width: 1px;
    border: 1px solid #665F55;
    background: #FFFFFF;
}

.closed .text .apple .allapple {
    display: flex;
}

.closed .apple .right .text5 {
    font-weight: 600;
    font-size: 10px;
    line-height: 140%;
    text-align: center;
    color: #403F3D;
}

.closed .apple .right {
    padding-left: 8px;
}

.closed .apple .right .text6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #403F3D;
}

.closed .apple .imghover {
    display: none;
    padding-left: 8px;
}

.closed .text .apple:hover img {
    display: none;
}

.closed .text .apple:hover .imghover {
    display: block;
}

.closed .text .apple:hover {
    background-color: #665F55;

    & p {
        color: #E1D4C9;
    }
}

.closed .google .imghover2 {
    display: none;
    /* padding-left: 8px; */
}

.closed .google:hover img {
    display: none;
}

.closed .google:hover .imghover2 {
    display: block;
}

.closed .text .google:hover {
    background-color: #665F55;

    & p {
        color: #E1D4C9;
    }

}

.closed .text .google {
    width: 200px;
    height: 64px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    gap: 8px;
    border-radius: 100px;
    border-width: 1px;
    border: 1px solid #665F55;
    background: #FFFFFF;
    margin-left: 20px;
}

.closed .text .google .text7 {
    font-weight: 600;
    font-size: 10px;
    line-height: 140%;
    text-align: center;
    color: #403F3D;
}

.closed .text .google .text8 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #403F3D;
}

.closed .text .google .right2 {
    margin-left: 8px;
}

.closed .text .google .allgoogle {
    display: flex;
}

.closed .app {
    margin-top: 40px;
}

footer {
    height: 450px;
    border-radius: 40px;
    background: #665F55;
    margin-bottom: 40px;
    margin-top: 100px;
    display: flex;
}

footer .network .lasttext {
    font-weight: 600;
    font-size: 60px;
    line-height: 125%;
    letter-spacing: 0%;
    width: 530px;
    color: #E1D4C9;
    padding-top: 100px;
    padding-left: 100px;
}

footer .network .lasttext span {
    font-weight: 600;
    font-style: italic;
    font-size: 60px;
    line-height: 125%;
    color: #B0907A;
}

footer .network button {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border-width: 1px;
    border: 1px solid #C1B6AD;
    background: white;
}

footer .network .social {
    display: flex;
    gap: 12px;
    padding-left: 100px;
    padding-top: 40px;
}

footer .network .social button:hover {
    background: #E1D4C9;
}

footer .network .social .pick .imghover {
    display: none;
    margin: auto;
}

footer .network .social .pick:hover .img {
    display: none;
}

footer .network .social .pick:hover .imghover {
    display: block;
}


footer .contact h3 {
    padding-top: 132px;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    color: #E1D4C9;
}

footer .contact {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #E1D4C9;
}

footer .contact .pin {
    display: flex;
    gap: 8px;
    margin-top: 40px;
    align-items: baseline;
}

footer .contact .mobile {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    align-items: baseline;
}

footer .contact .time {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    align-items: baseline;
}

footer .contact .pin:hover {
    border-bottom: 2px solid #E1D4C9;
    width: 182px;
    padding: 4px;
}

footer .contact .mobile:hover {
    border-bottom: 2px solid #E1D4C9;
    width: 175px;
    padding: 4px;
}

footer .contact .time:hover {
    border-bottom: 2px solid #E1D4C9;
    width: 262px;
    padding: 4px;
}