* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #403f3d;
  }
  
  body {
    background-color: #e1d4c9;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    padding: 0 16px;
    max-width: 1360px;
    margin: 0 auto;
  }
  
  img {
    max-width: 100%;
  }
  
  span {
      font-style: italic;
      color: #B0907A;
  }
  
  /* header */
  
  header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e1d4c9;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header a {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    position: relative;
  }
  
   header nav {
    display: flex;
    gap: 40px;
  }

  header nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #403F3D;
    transform: scaleX(0) ;
    transition: transform 0.4s ease;
  }

  header nav a:hover::after {
    transform: scaleX(1);
  }
  
  header .header-menu {
    display: flex;
    gap: 8px;
    max-height: 72px;
    position: relative;
  }

 header .header-menu::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #403F3D;
    transform: scaleX(0) ;
    transition: transform 0.4s ease;
  }

  header .header-menu:hover::after {
    transform: scaleX(1);
  }

  header .burger-menu {
    border: 1px solid #665F55;
    border-radius: 50%;
    display: none;
  }
  
  footer{
    margin-bottom: 40px;
}

.footer-wrapper{
  padding: 100px;
  background-color: #665F55;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.footer-left{
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 530px;
}


.footer-left h2{
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: #E1D4C9;
}

.footer-socials{
  display: flex;
  gap: 12px;
}

.footer-left a{
  border: 1px solid #C1B6AD;
  border-radius: 50%;
  padding:15px 17px;
}

.footer-socials a:hover{
  border: 1px solid #E1D4C9;
  background-color: #E1D4C9;
  
  & svg path {
    stroke: #403F3D;
  }

}


.footer-right h3{
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #E1D4C9;
  margin-bottom: 40px;
}

footer ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.footer-li-item{
  display: flex;
  gap: 8px;
  position: relative;
}

.footer-li-item p{
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #E1D4C9;
}

.footer-li-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #E1D4C9;
    transform: scaleX(0);
    transition: transform 0.4s ease;
  }
  
  .footer-li-item:hover::after{
    transform: scaleX(1);
  }

  @media (max-width:926px) {
    .footer-wrapper{
      flex-direction: column;
      padding: 100px 60px;
      align-items: flex-start;
    }
  }

  @media (max-width:768px) {
    header nav {
      display: none ;
    }
     header .header-menu {
      display: none;
    }
  
    header .burger-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
    }
    
  }

  @media(max-width:576px){
    .footer-wrapper{
      padding: 60px 16px ;
      gap: 40px;
    }

    .footer-left h2{
      font-size: 32px;
    }
  }

